<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dual urdf file -->
    <xacro:include filename="$(find ur)/xacro/prova.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual.ros2_control.xacro" />


    <xacro:dual_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
